@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
:root {
  --main-grey-color: #282c34;
  --almost-white-color: #f9f7f5;

  --ff-roboto: 'Roboto', sans-serif;
  --ff-nunito: 'Nunito', sans-serif;

  --fs-12: 12px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;

  --fw-100: 100;
  --fw-400: 400;
  --fw-700: 700;
}

html {
  background-color: var(--main-grey-color) !important;
  color: var(--almost-white-color) !important;
  font-family: var(--ff-roboto) !important;
  font-size: var(--fs-18) !important;
}

body {
  margin: 15px !important;
}
